.one_advisor:hover {
  background: transparent;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.adv-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}
.adv-btns:hover {
  text-decoration: none;
  transition: 0.1s linear all;
}
.adv-btns:hover i {
  color: red;
  transition: 0.1s linear all;
}
.get_reccomendation {
  background: transparent;
  border: 2px solid #2b32b2;
  color: #2b32b2;
}
.get_reccomendation:disabled {
  background: transparent;
  border: 2px solid rgba(43, 50, 178, 0.65);
  color: #2b32b2;
}
.member-info li {
  display: grid;
  grid-template-columns: auto 1fr;
}

.member-info li span,
.member-info li i {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1b1c1e;
}
.view_profile {
  background: transparent;
  color: #2b32b2;
}

.adv-category {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0 !important;
  position: relative;
}
.adv-category:hover {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.adv-category {
  display: grid !important;
  grid-template-columns: minmax(50%, 62%) 1fr;
}
.adv-category img {
  height: auto;
}

.adv-category-details {
  padding: 5px 10px 0 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.adv-category-details > * {
  margin: 0 !important;
}
.adv-category-details > h1.title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.adv-category-details > .title > small {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}
.adv-category-details > p.description {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
}

.advDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 9%;
  padding-bottom: 5%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.71) 53.7%,
    #000000 100%
  );
}

.advDetails .title {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
}

.advDetails .position {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.single_advisor_img {
  box-shadow: -1ad0px -14px 0px -1px rgba(43, 50, 178, 1);
  -webkit-box-shadow: -10px -14px 0px -1px rgba(43, 50, 178, 1);
  -moz-box-shadow: -10px -13px 0px -1px rgba(43, 50, 178, 1);
  position: relative;
}

.saidiv {
  position: relative;
}

.saidiv::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.71) 53.7%,
    #000000 100%
  );
}

@media screen and (max-width: 1000px) {
  .one_advisor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adv-category-details > h1.title {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
  }
  .adv-category-details > .title > small {
    font-family: "Poppins";
    font-size: 6.2px;
    font-weight: 400;
  }
  .adv-category-details > p.description {
    font-family: "Poppins";
    font-size: 7.2px;
    font-weight: 400;
  }
}

.right-arrow {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-weight: 900;
  font-size: 25px;
}
