.one_advisor:hover {
  background: transparent;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.one_advisor > div {
  flex: 1;
  overflow: hidden;
}

.adv-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}
.adv-btns:hover {
  text-decoration: none;
  transition: 0.1s linear all;
}
.adv-btns:hover i {
  color: red;
  transition: 0.1s linear all;
}
.get_reccomendation {
  background: transparent;
  border: 2px solid #2b32b2;
  color: #2b32b2;
}
.get_reccomendation:disabled {
  background: transparent;
  border: 2px solid rgba(43, 50, 178, 0.65);
  color: #2b32b2;
}
.member-info li {
  display: grid;
  grid-template-columns: auto 1fr;
}

.member-info li span,
.member-info li i {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1b1c1e;
}
.view_profile {
  background: transparent;
  color: #2b32b2;
}
@media screen and (max-width: 1000px) {
  .one_advisor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
