.card-box {
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  /* background-color: #2b32b2; */
  background: linear-gradient(
    to bottom right,
    rgba(43, 50, 178, 0.8),
    rgba(43, 50, 178, 0.9),
    rgba(43, 50, 178, 0.8)
  );
  /* background-color: #1488cc; */
  transition: 0.4s linear box-shadow;
}
.card-box:hover {
  box-shadow: 2px 2px 8px #333;
}

.member-info li span {
  /* text-align: right; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb-lg {
  height: 128px;
  width: 128px;
  overflow: hidden;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  overflow: hidden;
}
.text-pink {
  color: #ff679b !important;
}
.text-muted {
  color: #98a6ad !important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}

.adv-btns {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.adv-btns:hover {
  background: white;
  text-decoration: none;
  transition: 0.1s linear all;
}
.adv-btns:hover i {
  color: black;
  transition: 0.1s linear all;
}

.advisor-buttons {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 10px;
}
